<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://npmcdn.com/flatpickr/dist/l10n/pt.js"></script>
  
  <%- include ("../scripts/scripts.ejs") %>

</head>

<body onload="attValoresControle()">
  
   <!-- navbar do site -->
  <%- include ("../partials/nav.ejs") %>

  <!-- Início do conteudo -->
  <%- include ("../sections/inicio.ejs") %>
  <%- include ("../sections/medicoes.ejs") %>  
  <%- include ("../sections/controle.ejs") %> 
  <%- include ("../sections/graficos.ejs") %>
  <%- include ("../sections/consumo.ejs") %>
  <!-- fim do conteudo -->

 <!-- Direitos Autorais -->
 <div class="direitos-autorais">
  <p>&#169; Instituto Federal de Goiás</p>
</div>

<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/c1a3e9b7cb.js" crossorigin="anonymous"></script>

</body>
</html>

